<h2>
  Welcome!
</h2>

<h5>
  Please enter the url provided by the realtor:
</h5>

<div>
  <%= form_tag("/parse", method: "get", class: "form-inline") do %>
    <div class="form-group">
      <input type="text" name="url" class="form-control" />
    </div>
    <%= submit_tag("Submit", class: "btn btn-default") %>
  <% end %>
</div>
